include ./images.pug
include ./mainPageContent.pug

mixin detailPageTitle(siteData, pieceName)
    +pageTitle(siteData, pieceName)

mixin detailPageContent(siteDate, pieceName)
    - var piece = siteData.pieces[pieceName]
    +pieceOverlay(piece, siteData)

mixin pieceOverlay(piece, siteData)
    section.overlay#detail(
        role="dialog"
        aria-label= piece.title
    )
        +closeButton()
        .overlay-content
            each imageName in piece.images
                - var image = siteData.images[imageName]
                +detailImage(image)

mixin closeButton()
    span.close-button-wrapper
        a#close.close-button(
            href="/"
            onclick='handleClientNav(event)'
            aria-label="Close"
            ontouchstart=""
        ).
            ✕

mixin detailTemplates(siteData)
    each piece, pieceName in siteData.pieces
        +detailTemplate(piece, siteData)

mixin detailTemplate(piece, siteData)
    template(id=piece.url, data-piece-title=piece.title)
        +pieceOverlay(piece, siteData)

mixin debug(o)
    pre= JSON.stringify(o, null, "  ")