

mixin detailPageTitle(siteData, pieceName)
    | #{siteData.main.title} | #{siteData.pieces[pieceName].title}

mixin detailPageContent(siteDate, pieceName)
    - var piece = siteData.pieces[pieceName]
    +pieceOverlay(piece, siteData)

mixin pieceOverlay(piece, siteData)
    section.overlay#detail
        +closeButton()
        .overlay-content
            each imageName in piece.images
                - var image = siteData.images[imageName]
                +detailImage(image)

mixin closeButton()
    span
        a.close-button(href="/" onclick='clientNav(event)').
            ✕

mixin detailImage(image)
    img.detail-image(src='.' + image.imageMetadata.webp[2].url)

mixin detailTemplates(siteData)
    each piece, pieceName in siteData.pieces
        +detailTemplate(piece, siteData)

mixin detailTemplate(piece, siteData)
    template(id=piece.name, data-piece-title=piece.title)
        +pieceOverlay(piece, siteData)

mixin debug(o)
    pre= JSON.stringify(o, null, "  ")