mixin detailImage(image)
    - var formats = image.imageMetadata.webp;
    - var large = formats.find(f => f.url.includes('-large.'))
        img.detail-image(
            src='.' + large.url
            style=`aspect-ratio: ${large.width} / ${large.height};`
            srcset= formats.map(i => `.${i.srcset}`).join(', ')
            sizes="(min-width: 768px) 40vw, 100vw"
        )

mixin thumbnail(image)
    - var formats = image.imageMetadata.webp;
    - var thumb = formats.find(f => f.url.includes('-thumb.'))
    - var ratio = thumb.width / thumb.height
    - var computeRemSize = (ratio, displayHeightRem) => {
    -   return `${Math.round(displayHeightRem * ratio * 100)/100}rem`;
    - }
    //- size must match .thumbnail height in styles.css
    - var desktopWidth = computeRemSize(ratio, 7 /* displayHeightRem */)
    - var mobileWidth = computeRemSize(ratio, 4.5 /* displayHeightRem */)
    img.thumbnail(
        src='.' + thumb.url
        alt!=attributes.alt
        srcset= formats.map(i => `.${i.srcset}`).join(', ')
        sizes=`(min-width: 768px) ${desktopWidth} , ${mobileWidth}`
        style=`aspect-ratio: ${thumb.width} / ${thumb.height};`
    )


mixin debug(o)
    pre= JSON.stringify(o, null, "  ")