include ./images.pug

mixin pageTitle(siteData, pieceName)
    - var mainTitle = siteData.main.title.toLowerCase();
    if (pieceName)
        | #{mainTitle} | #{siteData.pieces[pieceName].title}
    else
        | #{mainTitle}

mixin mainPageTitle(siteData, pieceName)
    +pageTitle(siteData)

mixin mainPageContent(siteData, options = {})
    a.detail-link(
        href="/"
        onclick='handleClientNav(event)'
        onfocus='handleDetailFocus(event)'
    )
        h1= siteData.main.title
    section#main-content.main-content(class= options.detailVisible ? "detail-mode" : "")
        each seriesName in siteData.main.seriesOrder
            +seriesRow(siteData.series[seriesName], siteData)

mixin seriesRow(series, siteData)
    .series-row
        each pieceName in series.pieces
            +seriesItem(siteData.pieces[pieceName], siteData)

mixin seriesItem(piece, siteData)
    .series-item
        +detailLink(piece, siteData)

mixin detailLink(piece, siteData)
    - var mainImage = siteData.images[piece.main]
    a.detail-link(
        href=`./${piece.name}`
        onclick='handleClientNav(event)'
        onfocus='handleDetailFocus(event)'
    )
        +thumbnail(mainImage)(alt=`Detail for ${piece.title}`)

mixin debug(o)
    pre= JSON.stringify(o, null, "  ")
